<%-include('partials/header')-%>
<div class="middle1">
  <div class="row">
    <div class="col-lg-6">
      <form method="post" action="/signup">
         <div class="signup">
              <h1>SIGN UP</h1>
              <input type="text" class="ex1" name="sname" autocomplete="off">
              <label>Name</label>
              <br>
              <input type="email" class="ex1" name="email" autocomplete="off">
              <label >Email</label>
              <br>
              <input type="text" class="ex1" name="username"autocomplete="off">
              <label >username</label>
              <br>
              <input type="password" class="ex1" name="password"autocomplete="off">
              <label >password</label>
              <div style="padding: 10px 0 0 10px;">
               <button type="submit">submit</button>
              </div>  
           </div>
       </form>
    </div>
</div>       