<%- include("partials/header") -%>
<h1 class="align">BLOGS</h1>
<div class="posts blog">
<ul type="none">
    <% showPost.forEach(function(posts){ %>
       <div class="blog-post">
        <li class="blog-post-title">
            <%=posts.title%></h3>
        </li>
        <li class="blog-post-content">
            <%=posts.content%>
        </li>
        <li class="blog-subtitle">
            Author:<%=posts.name%>
        </li>
        </div>
    <% }) %>
</ul>
</div>
