<%-include('partials/header')-%>
<div class="middle1">
      <form method="post" action="/signup">
         <div class="signup">
              <h1>SIGN UP</h1>
              <input type="text" class="ex2" name="sname" autocomplete="off" placeholder="Name" size="30">
              <br>
              <input type="email" class="ex2" name="email" autocomplete="off" placeholder="Email" size="30">
              <br>
              <input type="text" class="ex2" name="username"autocomplete="off" placeholder="Username" size="30">
              <br>
              <input type="password" class="ex2" name="password"autocomplete="off" placeholder="Password" size="30">
              <div>
                <button type="submit" class="btn btn-primary ex3">SUBMIT</button>
              </div> 
           </div>
          </form>
</div>       
